/* import fonts */
/* fontnya ada dua kamu lihat keywordnya biar bisa doble font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* variables */

:root {
  font-size: 20px;
  /* butuh bantuan website untuk membuat var color seperti ini */
  /* website color picker paling rekomended https://coolors.co/392296 */
  
  /* primary color shades */
  --clr-primary-1: #4E0E83;
  --clr-primary-2: #470C77;
  --clr-primary-3: #320953;
  --clr-primary-4: #150424;
  /* warna asli */
  --clr-primary-5: #6311A6;
  /* primary color tints */
  --clr-primary-6: #8918E5;
  --clr-primary-7: #9F41EB;
  --clr-primary-8: #BF80F2;
  --clr-primary-9: #D4ABF6;
  --clr-primary-10: #F4EAFD;
  --clr-white: #ffffff;

    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    /* tambahan variable pelengkap */
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/* global style */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto','sans-serif';
}
body{
  line-height: 1.5;
  font-size: 0.875rem;
}
main{
  background-image: url('img/counter.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  filter: saturate(70%);
}

/* global classes */
.container{
  padding: 20px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* glassmorphism */
  background-color: rgba(148, 148, 148, 0.2);
  box-shadow: 0 5px 25px rgba(59, 54, 54, 0.5);
  backdrop-filter: blur(5px);
}

/* counter */
.btn{
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid rgba(148, 148, 148, 0.7);
  padding: 5px;
  color: rgba(148, 148, 148, 0.7);
}
.btn:hover{
  border:2px solid rgb(255, 255, 255);
  color: whitesmoke;
}
#value{
  font-size: 2rem;
  font-weight: 800;
}