/* import fonts */
/* fontnya ada dua kamu lihat keywordnya biar bisa doble font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* variables */

:root {
  /* butuh bantuan website untuk membuat var color seperti ini */
  /* website color picker paling rekomended https://coolors.co/392296 */
}

/* global style */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto','sans-serif';
}

/* global classes */
main{
  background-image: url('img/counter.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  filter: saturate(70%);
}
.container{
  padding: 20px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* glassmorphism */
  background-color: rgba(148, 148, 148, 0.2);
  box-shadow: 0 5px 25px rgba(59, 54, 54, 0.5);
  backdrop-filter: blur(5px);
}

/* counter */